*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
table{
    border-collapse: collapse;
    box-shadow: 0 5px 10px #517174;
    background-color: #ffecc8;
    text-align: left;
    overflow: hidden;
}
thead{
    box-shadow: 0 5px 10px #517174;
}
th{
    padding: 1rem 2.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}
td{
    padding: 1rem 2rem;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #EF5D58;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover {
  transform: translateY(-1px);
}